:root {
    --background-color: #eaf0f3;
  }

  .font-face {
    font-family: "MontserratReg";
   }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
 
}


.text {
    width: 90%;
    padding: 2vw;
    box-sizing: border-box;
    margin: 3vw auto;
    font-weight: 400;
    color: #475569;
    text-align: left;

}



.image{
    min-width: 75vw;
    max-width: 90vw;
    height: auto;
    padding-bottom: 5vh;
    display: block; 
    margin: 0 auto;
}

@media screen and (min-width: 320px) {
    * {
      font-size: calc(18px + 6 * ((100vw - 320px) / 680));
    }    
    



  }

  @media screen and (min-width: 1000px) {
    * {
      font-size: 30px;
    }


  }
