
:root {
    --background-color: #f4f4f4;
    --hiring-background-color: #2b97b8;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    font-size: 30px;
}


@media screen and (min-width: 320px) {
  * {
    font-size: calc(18px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  * {
    font-size: 30px;
  }
}

.world {
    
     background-color: rgb(25,25,25);  
    /* background: url('../Assests/images/WorldNew.png'); */
    min-height: 30vh;
    max-height: 80vh;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    margin: 0px auto; 
    opacity: 0;

}

.banner-container{
  background-color: rgb(25,25,25);  

}

.world-text{

    color: #ffffff;

    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    background: none;

    position: absolute;
    top: 30vh;
    left: 50%;
    transform: translate(-50%, -50%);

}

.console {
    background-color: rgb(25,25,25);  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    
}

.title {
    align-items: center;
    text-align: center;
    margin: 20px auto;

}

.name {
    
    font-weight: 400;
    color: #475569;
}

.main-text {
    width: 80%;
    padding: .5rem;
    box-sizing: border-box;
    margin: .3rem auto;
    font-weight: 400;
    color: #475569;
}

.divider {
    border-top: 4px solid #bbb;
    width: 75%;
    margin: 0 auto;
    padding: 0.5rem 50px;
    
}

.role {
    padding: 5px;
    text-align: center;
    background-color: var(--hiring-background-color);
    color: white;
    font-size: 6vw;
    font-family: "rajdhani";
    width: 100%;
    margin: .3rem auto;
}

.now-hiring {
    padding: 15px;
    display: inline-block;
    width: 100%;
    background-color: var(--hiring-background-color);
}

.job-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1.5rem;

}

.job-text {
    width: 90%;
    padding: .5rem;
    box-sizing: border-box;
    margin: 3vw auto;
    font-weight: 400;
    color: #475569;
    text-align: left;
    background-color: #eaf0f3;
    border: 1.5px solid black;
}
.video-container iframe, .video-container object, .video-container embed {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    border: 3px solid black;
    margin: .5vw auto;
}

.video-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    padding-top: 30px; 
    height: 0; 
    overflow: hidden; 
}

ul {
    background-color: #eaf0f3;
  }

li.ASU-list {
    list-style-type: circle;
    margin-left: 3vw;
    color: #475569;
    font-weight: 400;
    background-color: #eaf0f3;

  }

  .console-text:after{
      position: absolute;
      margin-top: -20vh; 
      left: 50%;
      transform: translate(-50%, -50%);
      background: none;
      color: #ffffff;
      animation:  animated-text 6s linear,
                  animated-cursor 500ms steps(44) infinite normal ;
      animation-fill-mode: forwards;
      animation-delay: 2s;
      content:"";
      white-space: nowrap; 
      overflow: hidden;
  }

  .console-text::before{
    position: absolute;
    margin-top: -20vh; 
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    color: #ffffff;
    animation:  
                animated-cursor 500ms steps(44) infinite normal ;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    content:"";
    white-space: nowrap; 
    overflow: hidden;
    border-right-color: rgba(0,255,0,.75)
}
  
  /* cursor animation */
  @keyframes animated-cursor{
    from{border-right-color: rgba(0,255,0,.75);}
    to{border-right-color: transparent;}
  }

  .anim-background{
    animation: changeBg 5s ;
    animation-delay: 7s;
    animation-fill-mode: forwards;

  }

  @keyframes changeBg {
    0% {
      
      opacity: 0;
    }
    25% {
      opacity: 0;
    }
    75% {
      opacity: 1;
    }
    100% {
      opacity: 1;
      
    }
  }

    /* Console Animation */
    @keyframes animated-text{
      0% {
        content: "P";
      }
      4% {
        content: "Pr";
      }
      8% {
        content: "Pri";
      }
      12% {
        content: "Prin";
      }
      16% {
        content: "Print";
      }
      20% {
        content: "Print(";
      }
      24% {
        content: "Print('";
      }
      28% {
        content: "Print('H";
      }
      32% {
        content: "Print('He";
      }
      36% {
        content: "Print('Hel";
      }
      40% {
        content: "Print('Hell";
      }
      44% {
        content: "Print('Helll";
      }
      48% {
        content: "Print('Helllo";
      }
      52% {
        content: "Print('Helll";
      }
      56% {
        content: "Print('Hell";
      }
      60% {
        content: "Print('Hello";
      }
      64% {
        content: "Print('Hello ";
      }
      68% {
        content: "Print('Hello W";
      }
      72% {
        content: "Print('Hello Wo";
      }
      76% {
        content: "Print('Hello Wor";
      }
      80% {
        content: "Print('Hello Worl";
      }
      84% {
        content: "Print('Hello World";
      }
      88% {
        content: "Print('Hello World!";
      }
      92% {
        content: "Print('Hello World!')";
        opacity: 1;
  
      }
      96% {
        content: "Print('Hello World!')";
        opacity: .5;
      }
      100% {
        content: "Print('Hello World!')";
        opacity: 0;
      }
    }




