

 /* @media screen and (max-width : 960px){
     transition: 0.8s all ease;
 }

 */


  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

  .navbar-circleface{
      height: 100px;
      width: auto;
      display: inline-block
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #34495e;
  text-transform: uppercase;
}

.header{
  border-bottom: 1px solid #E2E8F0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: .5rem 1.5rem;
  border: 1px solid #a2a2a2;
	background-color: #f4f4f4;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #34495e;

}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link{
  font-size: 1.3rem;
  font-weight: 400;
  color: #475569;
}

.nav-link:hover, .nav-logo:hover, .bar:hover {
  color: #718daa;
}

.nav-logo {
  font-size: 1.5rem;
  font-weight: 500;
  color: #34495e;
  text-align: center;
  padding-left: 10px;
}

.nav-logo-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
      position: fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 2.5rem 0;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;

  }

}